MPG Cars

Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

Step 2. Import the first dataset cars1.csv and cars2.csv

Step 3. Assign each to a to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('cars1.csv')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [3]:
cars2 = pd.read_csv('cars2.csv')
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

Step 4. Oops it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'], axis=1, inplace=True) 
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

Step 5. What is the number of observations in each dataset?

In [15]:
print('Size (no of elements)', cars1.size)
print(cars1.shape)

Size (no of elements) 1782
(198, 9)

In [16]:
print('Size (no of elements)', cars2.size) # 200 * 9 = 1800 elements total
print(cars2.shape)

Size (no of elements) 1800
(200, 9)

In [13]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

In [14]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

In [19]:
v = cars1.horsepower.value_counts() # exploring horsepower
print(type(v))
v.head()

<class 'pandas.core.series.Series'>

150    19
100    12
95     10
90      9
88      8
Name: horsepower, dtype: int64

Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [20]:
# https://pandas.pydata.org/pandas-docs/stable/merging.html
result = pd.concat([cars1, cars2])
result.shape

(398, 9)

In [21]:
result.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

Step 7. Oops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [32]:
owners = pd.Series(np.random.randint(15000,73000,dtype='int',size=498))
owners.head()

0    24239
1    67789
2    21643
3    68919
4    21769
dtype: int64

In [33]:
owners.shape # series so it is 1D

(498,)

In [34]:
owners.size # use this to get the no of elements which obviously should match your size above

498

Step 8. Add the column owners to cars

In [35]:
result['owners'] = owners
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 199
Data columns (total 10 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null int64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model           398 non-null int64
origin          398 non-null int64
car             398 non-null object
owners          398 non-null int64
dtypes: float64(2), int64(6), object(2)
memory usage: 34.2+ KB

In [36]:
result.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,24239
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,67789
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,21643
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,68919
4,17.0,8,302,140,3449,10.5,70,1,ford torino,21769
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,52400
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,20985
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,30257
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,23493
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,55022

In [37]:
# note that my owners series had 498 rows but only the first 398 were appended.
result.shape # shows 10 columns becuase I just added 'owners' as the 10th column

(398, 10)